	h3{
	color: purple; text-decoration: underline;
}


	a{
	text-decoration: none;
}

	a:hover{
	text-decoration:underline;
	color:red;
}
	
	tbody{
	font-style:italic;
	background-color:lightgray;
	color:black;
}

	tbody tr:nth-child(even){
	background-color:darkgray;
}
